# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.genkit
.cache
.secrets
dist
exclude


# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
cert
.env
.env.*
!.env.example
